.navbar-custom {
  background-color: #d95a27;
  height: 14vh;
}

.amalicon {
  background-image: url("/src/assets/img/amalicon.JPG");
  background-repeat: no-repeat;
}

.tab {
  background-color: #d95a27;
}

.subtab > title {
  color: white;
}

.headertitle{
  font-size: 2rem;
  color:white;
  font-weight: bold;
}